@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root{
   --Primary-Moderblue: hsl(238, 40%, 52%);
   --Primary-SoftRed: hsl(358, 79%, 66%);
   --Primary-LGBlue: hsl(239, 57%, 85%);
   --Pale-red: hsl(357, 100%, 86%);

   --Neutral-DBlue: hsl(212, 24%, 26%);
   --Neutral-GBlue: hsl(211, 10%, 45%);
   --Neutral-LGray: hsl(223, 19%, 93%);
   --Neutral-VlGray: hsl(228, 33%, 97%);
   --Neutral-White: hsl(0, 0%, 100%);
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background-color: var(--Neutral-LGray);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: 'Rubik', sans-serif;
   font-size:16px;

   .container{
      margin-top: 1em;
      width: 40em;
      height: auto;
      
      .card{
         background-color: var(--Neutral-White);
         display: flex;
         width: 100%;
         height: auto;
         border-radius: 5px;
         margin-bottom: 1em;
         padding: 1.5em;
         .score{
            background-color: var(--Neutral-LGray);
            border-radius: 10px;
            width: 15%;
            height: 80%;
            margin-right: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .plus-icon{
               background-image: url('images/icon-plus.svg');
               width: 2em;
               height: 2em;
               background-repeat: no-repeat;
               background-position: center;
               cursor: pointer;
            }
            p{
               color: var(--Primary-Moderblue);
               font-weight: 500;
            }
            .minus-icon{
               background-image: url('images/icon-minus.svg');
               width: 2em;
               height: 2em;
               background-repeat: no-repeat;
               background-position: center;
               cursor: pointer;
            }
         }
         .info{
            display: flex;
            flex-wrap: wrap;
            
            .user{
               display: flex;
               align-items: center;
               width: 35%;
               height: 30%;
               .user-icon{
                  background-image: url('images/avatars/image-amyrobson.png');
                  width: 2em;
                  height: 2em;
                  background-repeat: no-repeat;
                  border-radius: 50px;
                  background-position:center;
                  background-size: contain;
               }
               .user-name{
                  padding-left: 1em;
                  font-weight: 500;
               }
               .you{
                  background-color: var(--Primary-Moderblue);
                  color: var(--Neutral-White);
                  font-weight: 500;
                  margin: 0em .5em;
               }
            }
            .createdAt{
               width: auto;
               height: 30%;
               display: flex;
               align-items: center;
               color: var(--Neutral-GBlue);
            }
            .options{
               height: 35%;
               display: flex;
               align-items: center;
               justify-content: end;
               font-weight: 500;
               cursor: pointer;
            }
            .reply{
               width:45%;
               color: var(--Primary-Moderblue);
               .reply-icon{
                  background-image: url('images/icon-reply.svg');
                  width: 1em;
                  height: 1em;
                  background-repeat: no-repeat;
                  margin-right: .5em;
               }
            }
            .delete{
               width:30%;
               color: var(--Primary-SoftRed);
               .delete-icon{
                  background-image: url('images/icon-delete.svg');
                  width: 1em;
                  height: 1em;
                  background-repeat: no-repeat;
                  margin-right: .5em;
               }
            }
            .edit{
               width:15%;
               color: var(--Primary-Moderblue);
               .edit-icon{
                  background-image: url('images/icon-edit.svg');
                  width: 1em;
                  height: 1em;
                  background-repeat: no-repeat;
                  margin-right: .5em;
                  
               }
            }
            .content{
               width: 100%;
               height: 70%;
               color: var(--Neutral-GBlue);
               padding-top: .5em;
            }
         }
      }
      .comment-details{
         background-color: var(--Neutral-White);
         border-color: var(--Neutral-VlGray);
         display: flex;
         width: 100%;
         height: 8em;
         border-radius: 5px;
         padding: 1em;
         justify-content:flex-start;
         margin-bottom: 1em;
         .current-user-pic{
            width: 2em;
            height: 2em;
            border-radius: 50px;
            margin: 0em 1em;
         }
         textarea{
            width: 32em;
            height: 6em;
            padding: .5em;
            font-weight: 400;
            font-size: 16px;
            font-family: 'Rubik', sans-serif;
         }
         .send-btn{
            margin:0em  1em;
            width: 7em;
            height: 3em;
            background-color: var(--Primary-Moderblue);
            color: var(--Neutral-White);
            border-radius: 5px;
            font-weight: 700;
            cursor: pointer;
            box-shadow: transparent;
         }
      }
      .all-comments:not(:first-child){
         margin-left: 4.5rem;
      }
   }
}


